{% extends 'base.html' %}

{% block title %}Edit Artist{% endblock %}

{% block content %}
    <h1>Edit Artist</h1>
    <form method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ artist.name }}" required>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country" name="country_id">
                <option value="">Select a country</option>
                {% for country in countries %}
                <option value="{{ country.id }}" {% if country.id == artist.country_id %}selected{% endif %}>{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update Artist</button>
    </form>
{% endblock %}
